.card {
    width: 326px;
    height: 374px;
    border-radius: 1rem;
    background-color: white;
}

.container-top {
    height: 140px;
    width: 326px;
    background-image: url(./images/bg-pattern-card.svg);
    border-radius: 1rem 1rem 0 0;
}

.user-photo {
    border-radius: 50%;
    border: 5px solid #FFFFFF;
    margin-top: -2.6rem;
}

.container-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(230, 227, 227);

}

.user-name-container {
    display: flex;
    padding-top: .8rem;
}

.user-name {
    font-size: 18px;
    font-weight: $font-700;
    color: $dark-blue;
}

.age {
    color: $grey;
    padding-left: 0.7rem;
}

.location {
    font-size: 14px;
    color: $grey;
    margin-top: 0.6rem;
    margin-bottom: 1.2rem;
}

.stats {
    @include flex-center(row);
    justify-content: space-around;
    padding: 1.2rem 1.2rem 0 1.2rem;
}

.metric-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
    font-weight: $font-700;
    color: $dark-blue;
}

.metric {
    font-size: 10px;
    font-weight: $font-400;
    color: $grey;
    letter-spacing: 0.1rem;
    padding-top: 0.2rem;
}