// Colors
$cyan:hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$darker-grey: hsl(227, 10%, 46%);
$grey: hsl(0, 0%, 59%);

// Fonts
$font-text:'Kumbh Sans', sans-serif;
$font-400: 400;
$font-700: 700;

// Functions
@mixin flex-center($direction) {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: $direction;
}